<div class="mx-auto md:w-2/3 w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <strong>Attribute name</strong><br>

    <%= render @atribute %>

    <%= link_to 'Edit this atribute', edit_atribute_path(@atribute), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this atribute', atribute_path(@atribute), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to 'Back to atributes', atributes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>

  <br><br><br>

  <% atr_value = @atribute.atr_values %>

  <% if atr_value.present? %>
    <h1 class="text-2xl font-bold mb-4">Attribute Values</h1>

    <div class="overflow-x-auto">
      <table class="table-auto w-full mt-5">
        <thead>
        <tr>
          <th class="px-4 py-2 border">Attribute Name</th>
          <th class="px-4 py-2 border">Value</th>

        </tr>
        </thead>
        <tbody>
        <% atr_value.each do |av| %>
          <tr>
            <td class="px-4 py-2 border border-gray-300"><%= @atribute.title %></td>
            <td class="px-4 py-2 border border-gray-300">
              <%= av.value %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <strong class="block mt-4">Attribute Values not present</strong>
  <% end %>
</div>
