<%= form_with(model: variant, class: "contents") do |form| %>
  <% if variant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(variant.errors.count, "error") %> prohibited this variant from being saved:</h2>

      <ul>
        <% variant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :price %>
    <%= form.number_field :price, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :stock %>
    <%= form.number_field :stock, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <% p = params[:format] %>
    <%= form.label :product_id %>
    <%= form.hidden_field :product_id, value: p %>
    <p>Id : <%=  p %></p>
  </div>

  <%# @attributes.each do |x| %>
    <%# x = Atribute.find(x.atribute_id) %>
<!--    <strong> <%#= x.title %></strong><br>-->

    <%# @value = x.atr_values %>
    <%# @value.each do |value| %>
<!--      <p><%#= value.value %></p>-->
      <%#end %>
<!--    <br><br>-->

  <%#end %>

  <%= form.fields_for :variant_atr_values do |vr| %>
    <% if @attributes.present? %>
      <% @attributes.each do |x| %>
        <% attribute = Atribute.find(x.atribute_id) %>
        <strong><%= attribute.title %></strong><br>

        <% @value = attribute.atr_values %>
        <% @value.each do |value| %>
          <%= vr.check_box :atr_value_id, { multiple: true }, value.id, nil %>
          <%= value.value %><br>
        <% end %>

        <br><br>
      <% end %>
    <% else %>
      <p>No attributes found for this product.</p>
    <% end %>
  <% end %>







  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
