<% @combinations.each do |combination| %>
  <%= form_with(model: variant, class: "contents") do |form| %>
    <% if variant.errors.any? %>
      <!-- Your error display code here -->
    <% end %>

    <div class="my-5">
      <% p = params[:format] %>
      <%= form.label :product_id %>
      <%= form.hidden_field :product_id, value: p %>
      <p>Id : <%= p %></p>
    </div>

    <%= combination %>

    <div class="my-5">
      <%= form.label :price %>
      <%= form.number_field :price, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="my-5">
      <%= form.label :stock %>
      <%= form.number_field :stock, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <% value_arr =[] %>
    <% combination.each do |x| %>
      <% x = AtrValue.find_by(value: x) %>
      <%= form.fields_for :variant_atr_values do |vr| %>
        <%= vr.hidden_field :atr_value_id, value: x.id %>
      <% end %>
    <% end %>

    <div class="inline">
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
<% end %>


