<div id="<%= dom_id atr_value %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= atr_value.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Atribute:</strong>
    <%= atr_value.atribute_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this atr value", atr_value, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this atr value', edit_atr_value_path(atr_value), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
