<%= form_with(model: atr_value, class: "contents") do |form| %>
  <% if atr_value.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(atr_value.errors.count, "error") %> prohibited this atr_value from being saved:</h2>

      <ul>
        <% atr_value.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :atribute_id %>
    <%= form.select :atribute_id, Atribute.all.map{|atr| [atr.title, atr.id]},{},class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :value %>
    <%= form.text_field :value, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>



<!--  <div class="mb-4">-->
    <%#= form.label :department_id, class: 'block font-semibold' %>
    <%#= form.select :department_id, Department.all.map { |dept| [dept.title, dept.id] }, {}, class: 'w-full p-2 border border-gray-300 rounded' %>
<!--  </div>-->

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
